body{
    
        background-image: url(cropp.jpeg);

        min-height: 620px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
    
}